.button {
    background-color: #12addb;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: white;
    border: 2px solid #12addb;
    box-shadow: 2px 2px 5px 1px #12addb;
    color: #12addb;
}

.button:disabled {
    background-color: #562626;
    color: #000000;
    cursor: not-allowed;
}